<!DOCTYPE html>
<html>  
	<head>    
		<title>Sales Rep report</title>    	
	</head>  
<body>
	

    <table border="1">
            {% for sells_rep_ColName in sells_rep_ColName %}
                <th> {{sells_rep_ColName}} </th>
            {% endfor %}
            {% for sells_rep_report in sells_rep_report %}
            <tr>		
                {% for item in sells_rep_report%}
                <td>
                    {{item}}
                </td>
                {% endfor %}		
            </tr>
            {% endfor %}
        </table>

        <form action = "/"  >
            <input type = "submit" value = "Home" >
        </form>

</body>
</html>