<!DOCTYPE html>
<html>  
	<head>    
		<title>Home Page</title>    	
	</head>  
<body>
	<h2>Category Report</h2>
	<table border="1">
            {% for CategoryColName in CategoryColName %}
                <th> {{CategoryColName}} </th>
            {% endfor %}
            {% for category in category %}
            <tr>		
                {% for item in category%}
                <td>
                    {{item}}
                </td>
                {% endfor %}		
            </tr>
            {% endfor %}
        </table>

        <form action = "/"  >
            <input type = "submit" value = "Home" >
        </form>

</body>
</html>